/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

article a{
    text-decoration: blink;
}
section {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container
{
    width:960 px;
    margin : 0 auto;
}

@media(max-width: 768px)
{
.container{
    width: 720px;
}
}
@media(max-width: 480px)
{
    .container{
        width: 100%;
        paddding: 10px;
    }
}
